* {
  box-sizing: border-box;
}

html {
  font-family: "Maven Pro";
}

.libre-font {
  font-family: "Libre Baskerville";
}

.wrapper {
  @each $breakpoint, $size in $padding-by-breakpoints {
    @include media-breakpoint-up($breakpoint) {
      padding: 0 $size;
    }
  }
  box-sizing: content-box;
  max-width: 1600px;
  margin: 0 auto;
}
